/* ESTILIZAÃ‡ÃƒO NO CORPO DA PÃ�GINA */
body 
{
	background-image: url("../resources/img/fundo-login/fundo-rotina.jpeg");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

/* BOTÃƒO DE LIMPEZA DOS CAMPOS DA ROTINA DIÃ�RIA */
#btnRotina
{
	margin-left: 85%;
	margin-bottom: 2%;
	margin-top: 8%;
}

/* CAMPO DE PONTUAÃ‡ÃƒO */
#lblPontos
{
	margin-left: 85%;
	font-size: 20px;
	color: #fff;
}

#pontos
{
	width: 30px;
	opacity: 1;
	text-align: center;
}


/* ESTILIZAÃ‡ÃƒO NAS IMAGENS */
img 
{
	width: 60px;
	height: 60px;
	cursor: pointer;
	align-items: center;
}

/* IMPORTAÃ‡ÃƒO DA FONTE */
@font-face
{
	font-family: Anson;
	src: url("../resources/fontes/Anson-Regular.otf");
}

/* ESTILIZAÃ‡ÃƒO EM TODA A PÃ�GINA */
* {
	margin: 0;
	padding: 0;
	font-family: Anson !important;
	font-size: 14px;
}

/* TÃ�TULO DA PÃ�GINA */
h2 
{
	font-size: 28px; 
	color: #fffdd9;
	font-family: Arial Narrow, sans-serif !important;
	text-align: center !important;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
	margin-top: 0% !important;
}

/* MENU DA PÃ�GINA */
#menu 
{
	width: 100%;
	left: 0;
	text-align: center;
}

/* RETIRANDO AS BORDAS DOS CAMPOS FIELDSET */
fieldset 
{
	background: none !important;
}

/* PAINEL ONDE FICA O GRID DAS IMAGENS CARREGADAS */
#imagensDisponiveis 
{
	width: 7% !important;
	height: 200px;
	text-align: center;
	margin-left: -1%;
	border: none;
	margin-top: -220px;
}

/* GRID COM AS IMAGENS CARREGADAS DA BEAN */
#dataGridImagens 
{
	width: 290px;
	height: 90px !important;
	text-align: center;
}

/* PAINEL ONDE OS CARDS ESTÃƒO INSERIDOS */
#painel
{
	border: none;
	margin-left: 28%;
	margin-top: -200px;
	height: 550px;
	width: 750px;
}

/* DEFININDO O TAMANHO DOS CARDS */
#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9
{
	width: 110px; 
	height: 90px;
}

#card1
{
	margin-left: 4%;
	margin-top: 5%;
}

#check1
{
	margin-left: 0%;
	margin-top: -4%;
}

#card2
{
	margin-left: 37%;
	margin-top: -20%;
}

#check2
{
	margin-left: 33%;
	margin-top: -20%;
}

#card3
{
	margin-left: 70%;
	margin-top: -20%;
}

#check3
{
	margin-left: 66%;
	margin-top: -20%;
}

#card4
{
	margin-left: 4%;
	margin-top: 8%;	
}

#check4
{
	margin-left: 0%;
}

#card5
{
	margin-left: 36%;
	margin-top: -18%;
}

#check5
{
	margin-left: 32%;
	margin-top: -18%;
}


#card6
{
	margin-left: 70%;
	margin-top: -16%;
}

#check6
{
	margin-left: 66%;
	margin-top: -16%;
}

#card7
{
	margin-left: 10%;
	margin-top: 8%;
}

#check7
{
	margin-left: 8%;
	margin-left: 7%;
}

#card8
{
	margin-left: 38%;
	margin-top: -18%;
}

#check8
{
	margin-left: 34%;
	margin-top: -18%;
}

#card9
{
	margin-left: 68%;
	margin-top: -17%;
}

#check9
{
	margin-left: 64%;
	margin-top: -17%;
}


/*ESTILIZAÇÃO DO CHECKBOX PARA CADA DAMPO */
#check1, #check2, #check3, #check4, #check5, #check6, #check7, #check8, #check9
{
	width: 18px;
	height: 18px;
}





