/* estiliza��o da prancha inteira*/
.div-prancha { margin-left: 5%; }

/*configuração de impressão*/
@media print 
{
	#menu, #btnImprimir, #btnLimpar 
	{ 
		display: none; 
	}
	
	body
	{
	
	}
	

}

/* estiliza��o para todos os cart�es */
.card
{
	position: absolute;
	border-width: 1px;
  	border-style: solid;
  	border-color: #000;
	width: 20%;
	height: 140px;
	float: left;
	cursor: pointer;
	margin-top: 5px;
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}


/********* posi��o de cada um dos cart�es *************/
.card-1 { margin-left: 24%; }
.card-2 { margin-left: 47%; }
.card-3 { margin-left: 70%; }
.card-4 { margin-top: 13.8%; margin-left:24%; } 
.card-5 { margin-top: 13.8%; margin-left:47%; } 
.card-6 { margin-top: 13.8%; margin-left:70%; } 
.card-7 { margin-top: 27.3%; margin-left:24%; }
.card-8 { margin-top: 27.3%; margin-left:47%; }
.card-9 { margin-top: 27.3%; margin-left:70%; }

/* -------------------------------------------------------------- */

/* imagem dentro da modal */

/* no vecteezy ajustar width e height 1018.9 */
.feliz-1, .triste-1, .bravo-1, .comer-1, .brinquedos-1, .escovar-1, .estudar-1
{
	position: relative;
	width: 150px;
	height: 150px;
	float: left;
	text-align: center;
}

body
{
	background-image: url("../resources/img/fundo-login/fundo-padrao.jpeg");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

img
{
	width: 100px;
	height: 100px;
	cursor: pointer;
	align-items: center;
}

/*importa��o de fonte */
@font-face
{
	font-family: Anson;
	src: url("../resources/fontes/Anson-Regular.otf");
}

/*aplica��o em toda a p�gina*/
*
{
	margin: 0;
	padding: 0;
	font-family: Anson !important;
	font-size: 20px;
}	



/* t�tulos das p�ginas */
h2
{
	font-size: 28px;
	color: #fff;
	text-align: center !important;
}

/* menu das p�ginas */
#menu
{
	width: 100%;
	left: 0;
	text-align: center;
}

fieldset
{
	padding: 3px !important;
	background: none !important;
}
