/* CONFIGURAÇÃO DO MODO DE IMPRESSÃO */
@media print 
{
	#menu, #btnImprimir, #btnLimpar, #imagensDisponiveis
	{
		display: none;
	}
	
	#painel
	{
		margin-top: 100px !important;
		margin-left: 260px !important;
	}
	
	#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9
	{
		width: 250px; 
		height: 200px;
	}
}

/* ESTILIZAÇÃO NO CORPO DA PÁGINA */
body 
{
	background-image: url("../resources/img/fundo-login/fundo-padrao.jpeg");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* ESTILIZAÇÃO NAS IMAGENS */
img 
{
	width: 100px;
	height: 100px;
	cursor: pointer;
	align-items: center;
}

/* IMPORTAÇÃO DA FONTE */
@font-face
{
	font-family: Anson;
	src: url("../resources/fontes/Anson-Regular.otf");
}

/* ESTILIZAÇÃO EM TODA A PÁGINA */
* {
	margin: 0;
	padding: 0;
	font-family: Anson !important;
	font-size: 20px;
}

/* TÍTULO DA PÁGINA */
h2 
{
	font-size: 40px; 
	color: #fffdd9;
	font-family: Arial Narrow, sans-serif !important;
	text-align: center !important;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
	margin-top: 2% !important;
}

/* MENU DA PÁGINA */
#menu 
{
	width: 100%;
	left: 0;
	text-align: center;
}

/* RETIRANDO AS BORDAS DOS CAMPOS FIELDSET */
fieldset 
{
	background: none !important;
}

/* PAINEL ONDE FICA O GRID DAS IMAGENS CARREGADAS */
#imagensDisponiveis 
{
	width: 20% !important;
	height: 200px;
	text-align: center;
	margin-left: 1%;
	border: none;
	margin-top: -30px;
}

/* GRID COM AS IMAGENS CARREGADAS DA BEAN */
#dataGridImagens 
{
	width: 360px;
	height: 200px !important;
	text-align: center;
}

/* PAINEL ONDE OS CARDS ESTÃO INSERIDOS */
#painel
{
	border: none;
	margin-left: 34%;
	margin-top: -200px;
	height: 560px;
	width: 300px;
}

/* DEFININDO O TAMANHO DOS CARDS */
#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9
{
	width: 180px; 
	height: 140px;
}

/* ESTILIZANDO O POSICIONAMENTO DOS CARDS */
#card4, #card7
{
	margin-top: 3%;
}

#card2, #card5, #card8
{
	margin-left: 35%; 
	margin-top: -23%;
}

#card6, #card9
{
	margin-left: 69%; 
	margin-top: -23%;
}

#card3
{
	margin-left: 500px;
	margin-top: -166px;
}







