/* CONFIGURAÃ‡ÃƒO DO MODO DE IMPRESSÃƒO */
@media print 
{
	#menu, #btnImprimir, #btnLimpar, #imagensDisponiveis
	{
		display: none;
	}
	
	#painel
	{
		margin-top: 10px !important;
		margin-left: 120px !important;
	}
	
	#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9
	{
		width: 250px; 
		height: 200px;
	}
}

/* ESTILIZAÃ‡ÃƒO NO CORPO DA PÃ�GINA */
body 
{
	background-image: url("../resources/img/fundo-login/fundo-padrao.jpeg");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* BOTÃƒO DE LIMPEZA DOS CAMPOS DA ROTINA DIÃ�RIA */
#btnRotina
{
	margin-left: 950px;
}

/* CAMPO DE PONTUAÃ‡ÃƒO */
#gridPontos
{
	margin-left: 500px;
	width: 50px;
}

/* EDITANDO COR DE FUNDO DAS CHECKBOX */
.ui-chkbox-icon{ background-color: #fff;}

/* ESTILIZAÃ‡ÃƒO NAS IMAGENS */
img 
{
	width: 100px;
	height: 100px;
	cursor: pointer;
	align-items: center;
}

/* IMPORTAÃ‡ÃƒO DA FONTE */
@font-face
{
	font-family: Anson;
	src: url("../resources/fontes/Anson-Regular.otf");
}

/* ESTILIZAÃ‡ÃƒO EM TODA A PÃ�GINA */
* {
	margin: 0;
	padding: 0;
	font-family: Anson !important;
	font-size: 16px;
	
}

/* TÃ�TULO DA PÃ�GINA */
h2 
{
	font-size: 28px; 
	color: #fffdd9;
	font-family: Arial Narrow, sans-serif !important;
	text-align: center !important;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
	margin-top: 2% !important;
}

/* MENU DA PÃ�GINA */
#menu 
{
	width: 100%;
	left: 0;
	text-align: center;
}

/* RETIRANDO AS BORDAS DOS CAMPOS FIELDSET */
fieldset 
{
	background: none !important;
}

/* PAINEL ONDE FICA O GRID DAS IMAGENS CARREGADAS */
#imagensDisponiveis 
{
	width: 10% !important;
	height: 200px;
	text-align: center;
	margin-left: 1%;
	border: none;
	margin-top: -140px;
}

/* GRID COM AS IMAGENS CARREGADAS DA BEAN */
#dataGridImagens 
{
	width: 315px;
	height: 90px !important;
	text-align: center;
}

/* PAINEL ONDE OS CARDS ESTÃƒO INSERIDOS */
#painel
{
	border: none;
	margin-left: 28%;
	margin-top: -190px;
	height: 550px;
	width: 750px;
}

/* DEFININDO O TAMANHO DOS CARDS */
#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9
{
	width: 160px; 
	height: 120px;
}

/* ESTILIZANDO O POSICIONAMENTO DOS CARDS */
#card4, #card7
{
	margin-top: 6%;
}

#card2, #card5, #card8
{
	margin-left: 35%;
	margin-top: -18.8%;
}

#card3, #card6, #card9
{
	margin-left: 70%;
	margin-top: -18.8%;
}

#text1, #text2
{
	font-size: 28px; 
	color: #fffdd9;
	text-align: center !important;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #000;
	margin-top: 2% !important;
	width: 650px;
	margin-left: 27%;
	background-color: #007acc;
	border: 1px solid #000;
}







